<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="tests-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
			<file>intercessor.php</file>
			<file>uninstall.php</file>
			<exclude>
				<file>./src/Admin/Prayers/page.php</file>
				<file>./src/Admin/Tools/Export/functions.php</file>
				<file>./src/Admin/Tools/Export/Batch_History.php</file>
				<file>./src/Admin/Tools/Export/Batch_Prayers.php</file>
				<file>./src/Admin/Tools/Stats/Requesters.php</file>
				<file>./src/Admin/Tools/Reset.php</file>
				<file>./src/Admin/Tools/Stats/Prayers.php</file>
				<file>./src/Admin/Tools/Stats/All.php</file>
				<file>./src/Admin/Import/Prayers.php</file>
				<file>./src/Admin/Import/Requesters.php</file>
				<file>./src/Cli.php</file>
				<directory suffix=".php">./src/Admin/Tools/Export</directory>
				<directory>./src/libraries/</directory>
			</exclude>
		</whitelist>
	</filter>
	<listeners>
		<listener class="SpeedTrapListener" file="tests/phpunit/speed-trap-listener.php">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>150</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>
</phpunit>