
#intercessor_user_history_main {
	display: block;
	width: 100%;

	.intercessor-prayer-details {
		text-align: left;
		width: 48%;


		.prayer-title {
			color: #43a2a2;
			font-size: 16px;
			font-weight: 600;
		}
	}


	.prayer-history-actions {
		font-size: .92em;
		list-style: none !important;
		margin: 0;
		padding: 0;

		li {
			float: left;
			display: inline-block;
			list-style: none !important;

			a {
				#intercessor_user_history_main {
					display: block;
					width: 100%;

					.intercessor-prayer-details {
						text-align: left;
						width: 48%;


						.prayer-title {
							color: #43a2a2;
							font-size: 16px;
							font-weight: 600;
						}
					}


					.prayer-history-actions {
						font-size: .92em;
						list-style: none !important;
						margin: 0;
						padding: 0;

						li {
							float: left;
							display: inline-block;
							list-style: none !important;

							a {
								float: left;
								display: inline-block;
								margin: 0 0.5em 0 0;
								font-weight: normal;
								list-style: none !important;
								text-decoration: none;

								.prayer-history-action-delete {
									background-color: #8b0000;
									color: #ffffff;
								}
							}
						}
					}

					.intercessor-prayer-id {
						width: 9%;
					}


					.intercessor-prayer-counts {
						width: 10%;
					}

					.intercessor-prayer-date {
						width: 20%;
					}

					.intercessor-prayer-status {
						vertical-align: center;
						width: 13%;
						float: none;
					}
				}

				float: left;
				display: inline-block;
				margin: 0 0.5em 0 0;
				font-weight: normal;
				list-style: none !important;
				text-decoration: none;

				.prayer-history-action-delete {
					color: red;
				}
			}
		}
	}

	.intercessor-prayer-id {
		width: 9%;
	}


	.intercessor-prayer-counts {
		width: 10%;
	}

	.intercessor-prayer-date {
		width: 20%;
	}

	.intercessor-prayer-status {
		vertical-align: center;
		width: 13%;
		float: none;
	}
}
