/**
 * Intercessor Widget Styles.
 */

@import 'mixins';
@import 'variables';

.intercessor-recent-requests {
	display: block;
    margin-bottom: 10px;

	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;

		li {
			background-color: none;
			list-style-type: none;
			margin: 0;
			overflow: hidden;
			padding: 5px;
			position: relative;

			.prayer-title {
				font-size: 13px;
				font-weight: 700;
				line-height: 16px;
				margin: 10px 7px;
				text-transform: uppercase;
			}

			.recent-prayer-message {
				color: $dark;
				float: left;
				margin: 10px 0;
				text-align: left;
				width: 100%;
			}


			&:nth-of-type(even) {
				background-color: none;
				padding: -0.5em;
			}

		}

	}

	.prayer-list-counter {
		margin: 10px 0;
		width: 100%;
	}

	.intercessor-requester,
	.prayed-for,
	.recent-prayer-date {
		color: $recent;
		font-size: 13px;
		font-style: italic;
		font-weight: 600;
		padding: 10px 5px 0 0;
	}

	#intercessor_update_counts {
		float: left;
		width:55%;
	}

	.prayed-for {
		float: right;
		text-align: center;
		width: 42%;
	}

	.recent-prayer-date {
		display: block;
		float: left;
		width: 100%;
	}

	.intercessor-show-more {
		background-color: $recent;
		border-radius: 5px;
		color: $white !important;
		margin-top: 10px;
		padding: 0.375rem 0.75rem;
	}
}