$icomoon-font-family: "ipr-icomoon" !default;
$icomoon-font-path: "fonts" !default;

$blue: #2ea2cc;
$borders: #ccc;
$dark: #333;
$green: #7ad03a;
$light-gray: #ededed;
$list-color: #0C9da1;
$orange: #ffba00;
$recent: #985600;
$red: #a00;
$white: #fff;